<!DOCTYPE html>
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/">
    </head>
    <body>
        <div id="form container">
            <form>
                <div>
                    <p>Nombre de la planta</p>
                    <input type="text" text = "Nombre de planta">
                </div>
                <div>
                    <p>Caracteristicas de la planta</p>
                    <input type="text" text = "Detalle de la planta">
                </div>
                <div>
                    <p>Identificacion de la planta</p>
                    <input type = "text" text = "Id de la planta">
                </div>
                <div class = "Colum-Fila">
                    <p>Columna</p>
                    <input type = "number" text ="columna">
                    <p>Fila</p>
                    <input type = "number" text ="fila">
                </div>
                <div>
                    <p>Seleccionar familia (especie)</p>
                    <input type = "scroll">
                    <button type="send" class="btonAgregar">Agregar familia</button>
                </div>
                <div>
                    <button type="send" class="bton enviar">enviar</button>
                </div>
            </form>
        </div>
    </body>
</html>