<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <title>Menú principal: Vivero</title>
        <!-- css -->
        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <nav id="nav">
                <div class="container">
                    <input type="checkbox" name="" id="menuBtn">
                    <div class="menu_overlay">
                      <label for="menuBtn">
                        <i class="fas fa-times"></i>
                      </label>
                      <ul>
                        <li>
                          <div class="ribbon"><span></span></div>
                          <a href="./Interfaz Cliente/indexSucursales.html">Lista de sucursales</a>
                        </li>
                        <li>
                          <div class="ribbon"><span></span></div>
                          <a href="./Interfaz Cliente/indexCatalogo.html">Catalogo de plantas</a>
                        </li>
                        <li>
                          <div class="ribbon"><span></span></div>
                          <a href="./plantas/IngresoPlantaYFamilia.html">Ingreso de plantas y familias</a>
                        </li>
                      </ul>
                    </div>
                    <div class="landing_page">
                      <div class="menu">
                        <label for="menuBtn">
                          <i class="fas fa-bars"></i>
                        </label>
                      </div>
                  
                      <div class="main_text">
                        <div class="text_h2 h2-l">Vivero Digital</div>
                        <div class="text_h2 h2-l">Main Page</div>
                      </div>
                    </div>
                  </div>
                  
                  <link rel="preconnect" href="https://fonts.gstatic.com">
                  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
                  <title>Full Page Menu Layout</title>
                  <script src="https://kit.fontawesome.com/a7e9f794eb.js" crossorigin="anonymous"></script>
            </nav>
    </body>
</html>